.page-setting {
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.page-setting .w-full {
    width: 5vw!important;
    left: 0;
}

.search {
    position: relative;
    background: #171717;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 40px;
    margin-left: 20px;
    width: 40vw;
  }

  

  ::placeholder {
      color: #818181
  }

  .searchIcon {
    padding: 0.5rem 0.5rem;
    height: 100%;
    position: absolute;
    color: #818181;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search input {
      padding: 0!important;
      color: white;
  }

  .inputRoot {
    color: inherit;
  }
  .inputInput {
    padding: 0.5rem 0.5rem 0.5rem 0;
    padding-left: 3rem;
    /* transition: theme.transitions.create('width'); */

    width: '100%';
    /* [theme.breakpoints.up('sm')]: {
      width: '12ch',
      '&:focus': {
        width: '20ch',
      },
    }, */
  }

  .state-table {
      height: 60%;
      width: 100%;

  }

  .btn-primary {
      font-size: 12px;
      color: #818181;
      background-color: #171717;
      border-color: white;
  }

  .btn-primary:hover {
      background-color: #111111;
  }

  .MuiTablePagination-toolbar {
      color: #818181;
      font-size: 12px;
      padding: 5px 0;
      background-color:  #171717;
      border: 1px solid white;
      border-radius: 4px;
  }

  .MuiTablePagination-actions {
      display: none;
  }

  