/* tailwind apply */
.btn {
  @apply py-4 px-8 font-bold bg-blue-500 hover:bg-blue-700 text-white rounded-md sm:text-sm uppercase transition-all;
}
.btn-prof{
  @apply py-2 px-8 font-normal bg-blue-500 hover:bg-blue-700 text-white rounded-md sm:text-sm transition-all;
}

.h-screen-no-nav {
  height: calc(100vh - 80px);
}

.fc {
  height: 100%;
}

/* .fc-v-event {

  background-color: none;

} */

.btn:disabled,
.btn.disabled {
  @apply opacity-50 cursor-not-allowed hover:bg-blue-500;
}

.btn.btn-gray {
  @apply bg-gray-500 hover:bg-gray-700;
}
.btn-prof.btn-gray {
  @apply bg-gray-500 hover:bg-gray-700;
}

.btn.btn-gray.disabled {
  @apply bg-gray-500 hover:bg-gray-500;
}

.h1 {
  @apply text-2xl md:text-4xl xl:text-5xl font-bold;
}

model-viewer {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background: #f6f6f6;
  @media (max-width: 768px) {
    min-height: 35vh;
  }
}

.alice-carousel__stage {
  display: flex;
  align-items: stretch;
}

.alice-carousel__stage > li {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#wallet-nav button,
.tab {
  padding: 0.5rem 0;
  margin: 0 1rem;
  opacity: 0.6;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

#wallet-nav button[aria-selected="true"],
.tab.active {
  opacity: 1;
}

#wallet-nav button[aria-selected="true"]:after,
.tab.active:after {
  @apply bg-blue;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#search-nav button,
.tab {
  padding: 0.5rem 0;
  margin: 0 1rem;
  opacity: 0.6;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

#search-nav button[aria-selected="true"],
.tab.active {
  opacity: 1;
}

#search-nav button[aria-selected="true"]:after,
.tab.active:after {
  @apply bg-blue;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.MuiAccordionSummary-root,
.MuiAccordionDetails-root {
  padding: 0 !important;
}
.MuiAccordion-root:before {
  display: none !important;
}

.lazyload-wrapper {
  @apply flex flex-col justify-between h-full;
}

.image-container .nsfwFlag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.image-container .nsfwFlag span {
  background: #000;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}


.wp {
  font-family: "hero-new", "sans-serif";
}
.wp h1 { font-size: calc(2em * var(--text-multiplier, 1)); margin-bottom: 1em; color: #fff; }
.wp h2 { font-size: calc(1.6em * var(--text-multiplier, 1)); margin-bottom: 1em; color: #fff; }
.wp h3 { font-size: calc(1.4em * var(--text-multiplier, 1)); margin-bottom: 1em; color: #fff; line-height: 1.4; }
.wp h4 { font-size: calc(1.2em * var(--text-multiplier, 1)); margin-bottom: 1em; color: #fff; line-height: 1.4; }
.wp h5 { font-size: calc(1.1em * var(--text-multiplier, 1)); margin-bottom: 1em; line-height: 1.4; }
.wp p {
  font-size: calc(.9em * var(--text-multiplier, 1));
  line-height: 1.6;
  margin: 1rem 0;
}
.wp ul {
  margin:1rem 0;
  list-style: disc inside;
}
.wp ol {
  margin:1rem 0;
  list-style: decimal inside;
}
.wp ul ul, .wp ol ol {
  margin-left: 2rem;
}
.wp table {
  margin:1rem 0;
}
.wp-block-separator {
  margin: 1rem 0;
}
.wp-block-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wp .rank-math-list-item {
  margin: 3rem auto;
}
.wp a {
  color: var(--color-blue-primary);
}

@media (min-width: 48rem) {
  .wp {
    --text-multiplier: 1.25;
  }
}
